<section class="mt-5">
    <EditForm EditContext="_editContext" OnValidSubmit="OnSubmit">
        <FluentValidationValidator />

        <FormInput For="name" Label="Név" ValidationFor="() => Transaction.Name">
            <InputText id="name" class="form-control" @bind-Value="Transaction.Name" />
        </FormInput>

        <FormInput For="bank-amount" Label="Bankszámla" ValidationFor="() => Transaction.BankAmount">
            <InputNumber id="bank-amount" class="form-control" @bind-Value="@Transaction.BankAmount" />
        </FormInput>

        <FormInput For="cash-amount" Label="Készpénz" ValidationFor="() => Transaction.CashAmount">
            <InputNumber id="cash-amount" class="form-control" @bind-Value="@Transaction.CashAmount" />
        </FormInput>

        <FormInput For="comment" Label="Komment" ValidationFor="() => Transaction.Comment">
            <InputText id="comment" class="form-control" @bind-Value="@Transaction.Comment" />
        </FormInput>

        <FormInput For="date" Label="Dátum" ValidationFor="() => Transaction.Date">
            <InputDate id="date" class="form-control" @bind-Value="@Transaction.Date" />
        </FormInput>

        <FormInput For="type" Label="Tranzakció típus" ValidationFor="() => Transaction.Type">
            <InputSelect id="type" class="form-control" @bind-Value="@Transaction.Type">
                @foreach (var item in Enum.GetValues<TransactionType>())
                {
                    <option value="@item">@item.ToTransactionTypeText()</option>
                }
            </InputSelect>
        </FormInput>

        <FormInput For="category" Label="Kategória" ValidationFor="() => Transaction.CategoryId">
            <InputSelect id="category" class="form-control" @bind-Value="@Transaction.CategoryId">
                <option value="">Nincs</option>
                @foreach (var category in Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </FormInput>

        <button type="submit" class="btn btn-primary">Küldés</button>
        <a class="btn btn-secondary" @onclick="OnClose">Vissza</a>
    </EditForm>
</section>

@code {

    private EditContext _editContext;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _editContext = new EditContext(Transaction);
        _editContext.SetFieldCssClassProvider(new CustomFieldClassProvider());
    }

    [Parameter]
    public IEnumerable<CategoryViewModel> Categories { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public TransactionRequest Transaction { get; set; }

}