<section>
    <EditForm Model="@Transaction" OnValidSubmit="@OnSubmit">
        <DataAnnotationsValidator />

        <div class="form-group row">
            <label for="name" class="col-sm-3">Név: </label>
            <InputText id="name" class="form-control col-sm-8" @bind-Value="@Transaction.Name"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Transaction.Name)" />
        </div>

        <div class="form-group row">
            <label for="bankAmount" class="col-sm-3">Bankszámla: </label>
            <InputNumber id="bankAmount" class="form-control col-sm-8" @bind-Value="@Transaction.BankAmount"></InputNumber>
        </div>

        <div class="form-group row">
            <label for="cashAmount" class="col-sm-3">Készpénz: </label>
            <InputNumber id="cashAmount" class="form-control col-sm-8" @bind-Value="@Transaction.CashAmount"></InputNumber>
        </div>

        <div class="form-group row">
            <label for="comment" class="col-sm-3">Komment: </label>
            <InputText id="comment" class="form-control col-sm-8" @bind-Value="@Transaction.Comment"></InputText>
            <ValidationMessage class="offset-sm-3 col-sm-8" For="@(() => Transaction.Comment)" />
        </div>

        <div class="form-group row">
            <label for="date" class="col-sm-3">Dátum: </label>
            <InputDate id="date" class="form-control col-sm-8" @bind-Value="@Transaction.Date"></InputDate>
        </div>

        <div class="form-group row">
            <label for="type" class="col-sm-3">Tranzakció típus: </label>
            <InputSelect id="type" class="form-control col-sm-8" @bind-Value=@Transaction.Type>
                <option value="@(0)">Költség</option>
                <option value="@(1)">Bevétel</option>
            </InputSelect>
        </div>

        <div class="form-group row">
            <label for="category" class="col-sm-3">Tranzakció kategória: </label>
            <InputSelect id="category" class="form-control col-sm-8" @bind-Value=@Transaction.CategoryId>
                <option value="">Nincs</option>
                @foreach (var category in Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </InputSelect>
        </div>

        <button type="submit" class="btn btn-primary edit-btn">Küldés</button>
        <a class="btn btn-outline-primary" @onclick="@OnClose">Vissza</a>
    </EditForm>
</section>