@page "/categories"
@inherits CategoryBase
@inject IDialogService DialogService

<h1>Categories</h1>

<FluentButton Class="mt-3 mb-3" IconStart="@(new Filled.Size20.AddCircle())" Appearance="Appearance.Accent" OnClick="AddAsync">
    New category
</FluentButton>

<FluentToolbar Orientation="Orientation.Horizontal" Class="mb-3 w-100">
    <FluentSearch @bind-Value="NameFilter" @bind-Value:after="DataGridRefreshDataAsync" Autofocus="true" Placeholder="Name..." />
    <FluentButton IconStart="@(new Filled.Size20.ArrowClockwise())" Appearance="Appearance.Accent" Loading="IsLoading" OnClick="DataGridRefreshDataAsync">
        Search
    </FluentButton>
</FluentToolbar>

<FluentCard Class="d-grid p-0" Style="min-height: 300px;" Width="100%" Height="auto">
    <FluentDataGrid @ref="_dataGrid"
                    Items="_categories"
                    RefreshItems="RefreshItemsAsync"
                    GridTemplateColumns="1fr"
                    Loading="IsLoading"
                    RowSize="DataGridRowSize.Medium"
                    Pagination="@_pagination"
                    Style="overflow-x: auto;">
        <ChildContent>
            <PropertyColumn Title="Name" Property="@(c => c.Name)" Sortable="true" Align="Align.Start" IsDefaultSortColumn="true" />
            <TemplateColumn Title="Action">
                <EditorButtons OnEdit="() => EditAsync(context)" OnDelete="() => DeleteAsync(context)" />
            </TemplateColumn>
        </ChildContent>
    </FluentDataGrid>

    <FluentPaginator Class="mx-3" State="@_pagination" />
</FluentCard>

@code {

    private readonly PaginationState _pagination = new() { ItemsPerPage = 10 };
    private FluentDataGrid<CategoryDto> _dataGrid;
    private IQueryable<CategoryDto> _categories;

    [SupplyParameterFromQuery]
    private int Page { get; set; }

    [SupplyParameterFromQuery]
    private string SortBy { get; set; }

    [SupplyParameterFromQuery]
    private bool Ascending { get; set; } = true;

    [SupplyParameterFromQuery]
    private string NameFilter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _pagination.SetCurrentPageIndexAsync(Page >= 1 ? Page - 1 : 0);

        await base.OnInitializedAsync();
    }

    protected override Task SetViewModelAsync() => Task.CompletedTask;

    private async Task RefreshItemsAsync(GridItemsProviderRequest<CategoryDto> request)
    {
        IsLoading = true;

        var sortedProperty = request.GetSortByProperties().First();
        var sortBy = sortedProperty.PropertyName;
        var ascending = sortedProperty.Direction is SortDirection.Ascending;

        if (ViewModel is null && !string.IsNullOrEmpty(SortBy))
        {
            sortBy = SortBy;
            ascending = Ascending;
        }

        await HandleRequestAsync(
            async () => await Service.GetAllAsync(
                new GetPaginatedListRequest
                {
                    PageNumber = _pagination.CurrentPageIndex + 1,
                    PageSize = _pagination.ItemsPerPage,
                    SortBy = sortBy,
                    SortByAscending = ascending,
                    NameFilter = NameFilter,
                }),
            viewModel => ViewModel = viewModel);

        _categories = ViewModel.Items.AsQueryable();
        await _pagination.SetTotalItemCountAsync(ViewModel.TotalCount!.Value);

        NavigationManager.UpdateBrowserUriQueryParameters(
            new Dictionary<string, object>
            {
                ["page"] = _pagination.CurrentPageIndex + 1,
                ["sortBy"] = sortBy,
                ["ascending"] = ascending,
                ["nameFilter"] = NameFilter,
            });

        IsLoading = false;
    }

    private async Task AddAsync() => await HandleDialogAsync(id: null, new CategoryRequest());

    private async Task EditAsync(CategoryDto category) => await HandleDialogAsync(category.Id, new CategoryRequest { Name = category.Name });

    private async Task HandleDialogAsync(string id, CategoryRequest categoryRequest)
    {
        var isEdit = !string.IsNullOrEmpty(id);

        DialogParameters parameters = new()
        {
            Title = $"{(isEdit ? "Edit" : "Create")} category",
            Width = "500px",
            TrapFocus = true,
            Modal = true,
            PreventScroll = true,
        };

        var dialog = await DialogService.ShowDialogAsync<CategoryFormDialog>(categoryRequest, parameters);
        var result = await dialog.Result;

        if (result.Data is not null)
        {
            var request = result.Data as CategoryRequest;

            await HandleRequestAsync(
                async () => await (isEdit ? Service.UpdateAsync(id, request) : Service.CreateAsync(request)),
                async () => await _dataGrid.RefreshDataAsync());
        }
    }

    private async Task DeleteAsync(CategoryDto category)
    {
        var dialog = await DialogService.ShowConfirmationAsync("Are you sure about deleting the category?", title: "Delete category");
        var result = await dialog.Result;

        if (!result.Cancelled)
        {
            await HandleRequestAsync(
                async () => await Service.DeleteAsync(category.Id),
                async () => await _dataGrid.RefreshDataAsync());
        }
    }

    private async Task DataGridRefreshDataAsync() => await _dataGrid.RefreshDataAsync(true);

}